.search-results-list{
    max-height: 380px;
    min-height: 380px;
    background-color: #eeeeee;
    overflow-y: auto;
}
.search-result-ul{
    width: 100%;
    max-height: inherit;
    padding: 0px;
}
.search-result-ul, .search-result-li {
    list-style: none;
}
.search-result-li {
    margin: 4px 0px;
    width: 100%;
    padding: 4px;
}
.search-result-li:hover{
    background-color: #b9b6b6;
    font-weight: bold;
    cursor: pointer;
}