.book-detail-wrapper {
  background-color: #eeeeee;
}
.book-title-author-details {
  float: left;
  padding: 8px;
  width: 100%;
  height: 236px;
}
.image-wrapper {
  width: 145px;
  height: 220px;
  float: left;
}
.image-wrapper img {
  width: 100%;
}
.book-title-author {
  float: left;
  width: calc(100% - 160px);
  height: 220px;
  padding: 10px;
  border-left: 3px solid #ab9a9a;
  margin-left: 10px;
}
.book-title {
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.series {
  font-size: 28px;
}
.author-names {
  font-size: 30px;
}
.various-ratings {
  font-size: 18px;
  margin-top: 14px;
}
.various-ratings span {
  display: block;
  float: left;
  margin-right: 10px;
}
.book-descriptions {
  float: left;
  width: 100%;
  padding: 8px;
  overflow-y: auto;
}
